<app-navbar></app-navbar>

<div class="container" style="max-width: 70vw;">
    <div class="row mt-4">
        <h2>Reading List</h2>
    </div>
    
    <table class="table mt-4 source-sans-pro" style="border: 1px solid;">
        <thead>
          <tr>
            <th scope="col">Book Name</th>
            <th scope="col">Chapter Name</th>
            <th scope="col">Chapter Number</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of local_cart">
            <th scope="row">{{item.bookName}}</th>
            <td>{{item.chapterName}}</td>
            <td>{{item.chapterNumber}}</td>
            <td>
                <button class="btn btn-outline-light" style="color: black;" (click)="deleteFromCart(item.chapterId)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                      </svg>
                </button>
            </td>
          </tr>

        </tbody>
      </table>

      <div class="row">
          <div>
            <button class="btn btn-primary" type="button" [disabled]='!merge' data-bs-toggle="modal" data-bs-target="#cartModal">Merge</button>
          </div>
      </div>
</div>

<!-- Modal -->
<div class="modal fade" id="cartModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Enter Book Name</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="input-group mb-3">
          <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="My custom book" id="customName">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="sendCartToBackend()">Save changes</button>
      </div>
    </div>
  </div>
</div>