/* You can add global styles to this file, and also import other style files */
.source-sans-pro{
    font-family: 'Source Sans Pro', sans-serif;
}

.inter-regular{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

.inter-medium {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

._jsonform-array-addmore {
    background: green !important;
    i{
        height: 40px!important;
        width: 40px !important;
        background: green;
    }
}
._jsonform-array-deletelast {
    background: red !important;
    i{
        height: 40px!important;
        width: 40px !important;
        background: red;
    }
}